body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1b2c3a8a;
    color: #fff;
    font-family: Arial, sans-serif;
}

#container {
    background: rgba(255, 255, 255, 0.253);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 15px;
    color: black;
}
p{
    color: black;
}

input, select {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
}

#generate { 
    background: #220bf1e8; 
    color: #fff; 
}
#generate:hover { 
    background: #1a76ffc0; 
}

#download { 
    background: #3db804; 
    color: #fff; 
    display: none; 
}
#download:hover { 
    background: #3bdd0a; 
}

#qrcode {
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
}
#qrcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
